@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.hidden {
   display: none !important;
}

body {
   margin: 0;
   padding: 0;
   max-width: 100%;
   background-color: #5d576b;

   font-family: 'Roboto', sans-serif;
   font-weight: normal;
}

.widget {
   margin: auto;
   display: flex;
   /* /* width: 100vw; */
   height: 100vh;
   padding: 30px;
}

.lists {
   margin: 20vh auto;
   display: flex;
   flex-wrap: wrap;
   gap: 5%;
   width: 100%;
   align-items: flex-start;
   justify-content: center;
}

.list-container {
   display: flex;
   flex-direction: column;
   gap: 20px;

   border-radius: 25px;
   padding: 20px;

   background-color: #ebecf0;
   -webkit-box-shadow: 13px 12px 22px 2px rgba(0, 0, 0, 0.33);
   -moz-box-shadow: 13px 12px 22px 2px rgba(0, 0, 0, 0.33);
   box-shadow: 13px 12px 22px 2px rgba(0, 0, 0, 0.33);
   width: 20%;
}

.list-title {
   font-weight: bold;
}

.list {
   display: flex;
   flex-direction: column;
   /* gap: 10px; */

}

.list-item {
   min-height: 40px;
   position: relative;
   background-color: #fff;
   border-radius: 10px;
   padding: 10px;
   flex-grow: 1;
   word-wrap: break-word;
   margin-bottom: 10px;
}

.list-item:hover {
   background-color: #4A8FE7;
   color: #fff;
}

/* textarea.list-item__text {
   resize: none;
   background: red;
   height: 100px;
   max-height: 150px;
} */

.list-item__text {
   -webkit-touch-callout: none; 
   -webkit-user-select: none;  
   -khtml-user-select: none;    
   -moz-user-select: none;      
   -ms-user-select: none;       
   user-select: none;   
   width: 100%;
   max-width: 100%;
}

textarea.list-item__text {
   height: 100px;
}

.list-item__text:focus-visible {
   outline: none;
}

.list-item__text::target-text {
   border: 1px solid #000;
}

.list-item--dragged {
   position: absolute;
   z-index: 1000;
}

.list-item--dragged:hover {
   background-color: #fff;
   color: #000;
}

.oldPosition {
   display: none;
}

.overlap {
   background-color: #d2d2d2;
   color: transparent;
}

.overlap:hover {
   color: transparent;
   background-color: #fff;
}

li {
   list-style: none;
}

.input {
   /* resize: none; */
   min-width: 100%;
   min-height: 45px;
   height: auto;
   max-height: 150px;
   border: 2px solid #FF8811;
   max-width: 100%;
   border-radius: 10px;
   padding: 10px;
}

.input:focus-visible {
   outline: 2px solid rgb(250, 127, 5);
   outline: none;
   box-shadow: 0px 0px 10px 1px rgba(250, 127, 5, 0.48);
}

.btn {
   background-color: #FF8811;
   color: #fff;
   padding: 10px;
   border-radius: 10px;
   align-self: flex-start;
   transition: all 0.2s ease;
}


.btn:hover {
   background-color: #e27303;
}

.btn:focus,
.btn:focus-visible {
   outline: none;
   box-shadow: 0px 0px 10px 1px rgba(250, 127, 5, 0.48);
}

.add-form {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.add-form__control {
   display: flex;
   gap: 15px;
   flex-wrap: wrap;
}

.close-form {
   width: 25px;
}

.delete-item {
   position: absolute;
   right: 2px;
   top: 2px;
   display: none;
   width: 20px;
}

.edit-item {
   position: absolute;
   right: 25px;
   top: 4px;
   display: none;
   width: 15px;
}

.list-item:hover .delete-item{
   display: block;
}

.list-item:hover .edit-item{
   display: block;
}